<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485667576993-fhkffrg8p9q9fcr4j2lcj5heog25u07e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485667576993-fhkffrg8p9q9fcr4j2lcj5heog25u07e</string>
	<key>API_KEY</key>
	<string>AIzaSyAICxSpv4OZWIpAw76YVZuZ4wx6HudI0ws</string>
	<key>GCM_SENDER_ID</key>
	<string>485667576993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sara.ToDoWithFriends</string>
	<key>PROJECT_ID</key>
	<string>todo-e1732</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e1732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485667576993:ios:e4003c6ec096ba445864e0</string>
	<key>DATABASE_URL</key>
	<string>https://todo-e1732.firebaseio.com</string>
</dict>
</plist>